{% extends 'rango/base.html' %}
{% load staticfiles %}
<title>
{% block title_block %}
    {% for c in categories %}
        {% if c == current_category %}
        <li><strong><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></strong></li>
        {% else %}
        <li><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}
</title>
{% block block_body %}
    {% if category %}
    <h1>{{ category.name }}</h1>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}
    
    <a href="{% url 'rango:add_page' category.slug %}">Add a Page</a> <br />
    
    {% else %}
        The specified category does not exist.
    {% endif %}
{% endblock %}